<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OrangismAmtWhenRun" value="10"/>
    <add key="FoodAmtWhenRun" value="500"/>
    <add key="FoodValueWhenConsumed" value="6.0"/>
    <add key="WorldHeight" value="208"/> 
    <add key="WorldWidth" value="608"/> 
    <add key="FoodExpiryTimeSeconds" value="60"/>
    <add key="PetriDishBorderThickness" value="4"/>
    <add key="MutationAllowed" value="true"/>
    <add key="LifeFormCollisionDetection" value="true"/> <!-- If enabled, this allows life forms to destroy others via force calculations when collision occurs -->
    <add key="FoodAmtDivideFactor" value="8"/> <!-- This is used for when food is created via the death of an organisms cell, it divides FoodValueWhenConsumed by this -->
    <add key="FoodRatePerStep" value="50"/>
  </appSettings> 
</configuration>